# Alchemy API Keys
ALCHEMY_API_KEY=your_alchemy_api_key_here

# Neynar API Key for Farcaster user lookup
NEXT_PUBLIC_NEYNAR_API_KEY=your_neynar_api_key_here

# Contract Addresses
NEXT_PUBLIC_BASE_MULTISENDER_ADDRESS=
NEXT_PUBLIC_OPTIMISM_MULTISENDER_ADDRESS=